// views/partials/header.ejs
nav.navbar.navbar-default(role='navigation')
  .container-fluid
    .navbar-header
      a.navbar-brand(href='#')
        span.glyphicon.glyphicon.glyphicon-tree-deciduous
        |                 Mr B Node API
      ul.nav.navbar-nav
        li
          a(href='/') Home
        li
          a(href='/about') About
