<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include ('../partials/header') %>
</header>

<main>
    <div class="jumbotron">
        <h1>Mrb Node API project</h1>
        <p>to gain access you need to register an account.</p>
        <p>Go to this site /registerForm and complete it</p>
        <p>Its not automatic and each request will be carefully considered!</p>
    </div>
</main>

<footer>
    <%- include ('../partials/footer') %>
</footer>

</body>
</html>
