
extends ../layouts/master1
block head
    include ../partials/head
block heading
    include ../partials/header
block main
    .jumbotron
        h1 This is great
        p Welcome to templating using EJS
block footer
    include ../partials/footer
